footer {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 20px;
  background: #000000;
  color: #FF0081;
}

hr {
  width: 75%;
  height: 1px;
  color: #FF0081;
  background-color: #FF0081;
  border: none;
}

a:link {
  color: #FF009A;
}

a:visited {
  color: #9C0250;
}

a:hover {
  color: #FF008D;
}

.columns {
  vertical-align: top;
  display: inline-block;
  list-style-type: none;
}
