footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #000000;
  color: #FF0081;
}

hr {
  width: 75%;
}

a:link {
  color: #FF009A;
}

a:visited {
  color: #9C0250;
}

a:hover {
  color: #FF008D;
}

.columns {
  vertical-align: top;
  display: inline-block;
}
