@import "/font/erika-font/erika-font.css";

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: Erika Type;
  color: #FF8CC6;
  background: #C30062;
}
