---
---

@import "{{ site.theme }}";

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
  background: #b5e853;
  border-radius: 20px;
}

* {
  scrollbar-width: 20px;
  scrollbar-color: rgba(0, 0, 0, 0.9) #b5e853;
}

footer {
  text-align: center;
}

code.block-rouge {
  display: block;
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 16px;
  color: #aa759f;
  border-radius: 2px;
  overflow: auto;
  overflow-y: hidden;
}
