footer {
  padding: 25px 75px;
  background: #000000;
  color: #FF0081;
}

hr {
  width: 75%;
  height: 1px;
  color: #FF0081;
  background-color: #FF0081;
  border: none;
}

a:link {
  color: #FF8CC6;
}

a:visited {
  color: #FF009A;
}

a:hover {
  color: #FF008D;
}

ul.columns {
  vertical-align: top;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}