@font-face {
    font-family: 'Erika Type';
    font-style: normal;
    font-weight: normal;
    src: local('Erika Type'), url('Erika Type.woff') format('woff');
}
@font-face {
    font-family: 'Erika Type Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Erika Type Italic'), url('Erika Type_I.woff') format('woff');
}
@font-face {
    font-family: 'Erika Type Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Erika Type Bold Italic'), url('Erika Type_BI.woff') format('woff');
}
@font-face {
    font-family: 'Erika Type Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Erika Type Bold'), url('Erika Type_B.woff') format('woff');
}
